<!--
Parameters:
url - e.g: https://open.spotify.com/track/3EEd6ldsPat620GVYMEhOP?si=3c357af52e4f4e9e
width - (Optional) width
height - (Optional) height
-->

{{ $width := "100%" }}
{{ $height := "380" }}
{{ $type := "to-be-found" }}
{{ $id := "to-be-found" }}
{{ if .IsNamedParams }}
    {{ $type = replaceRE `.*spotify.com\/(.*)\/.*` "$1" ( .Get "url" ) }}
    {{ $id = replaceRE `.*spotify.com\/.*\/(.*).*` "$1" ( .Get "url" ) }}
    {{ $width = (default $width ( .Get "width" )) }}
    {{ $height = (default $height ( .Get "height" )) }}
{{ else }}
    {{ $type = replaceRE `.*spotify.com\/(.*)\/.*` "$1" ( .Get 0 ) }}
    {{ $id = replaceRE `.*spotify.com\/.*\/(.*).*` "$1" ( .Get 0 ) }}
    {{ $width = (default $width ( .Get 1 )) }}
    {{ $height = (default $height ( .Get 2 )) }}
{{ end }}
<iframe src="https://open.spotify.com/embed/{{ $type }}/{{ $id }}"
        width="{{ $width }}"
        height="{{ $height }}"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
</iframe>
